html {
  box-sizing: border-box; /*width и height включают в себя значения полей и границ */
}
*,
*::before,
*::after {
  box-sizing: inherit; /*Наследует значение родителя. */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* -------------------------------------------------- */
.wrapper {
  /*Макс-ширина,маржины,шрифты,бэкграунд */
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  position: relative;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/*--------------------------------------------------- */
.header {
  padding: 55px 0 83px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn,
.order__btns span {
  text-transform: uppercase;
  width: 175px;
  height: 58px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.header_btn {
  color: #162542;
  background-color: #e8eff2;
  transition: all 1s;
}
.header_btn:hover {
  background-color: #162542;
  color: #ffffff;
  font-size: 18px;
}
/* -------------------------------------------------- */
.order {
  position: relative;
}

.order__inner {
  display: flex;
  justify-content: space-between;
}
.order__inner-content {
  font-size: 18px;
  padding-top: 60px;
  width: 445px;
}

h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #162542;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.order__inner-content p {
  margin-bottom: 40px;
}

.order__btns {
  display: flex;
}

.order_btn {
  background-color: #f16718;
  color: #ffffff;
  margin-right: 16px;
  transition: all 1s;
}

.order_btn:hover {
  background-color: #ff9b62;
  font-size: 18px;
}
.order_bg {
  height: 480px; /* max */
}
.order_bg img {
  width: 540px;
  border-radius: 19px;
}
.right__img {
  width: 135px;
  height: 240px;
  background-color: #e8eff2;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 8px 0 0 8px;
}

/* ------------------------------------------------------------ */
.info {
  padding-top: 30px;
  position: relative;
}
.info__inner {
  display: flex;
  justify-content: space-between;
}

.info__photo {
}
.info__photo-inner {
  display: flex;
}

.info__img {
  width: 135px;
  height: 236px;
  background-color: #e8eff2;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 8px 8px 0;
}

.info__bg-img {
  background-color: #f16718;
  margin-right: 30px;
  border-radius: 16px;
  overflow: hidden;
}
.info__bg-orange {
  width: 255px;
  height: 480px;
  background-image: url(../images/desktop/image-phone-and-keyboard.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.info__bg-white {
  width: 445px;
  height: 480px;
  background-image: url(../images/desktop/image-glass-and-keyboard.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.info__text {
  width: 255px;
  padding-top: 112px;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  color: #162542;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  width: 200px;
}

.info__text h2 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 27px;
}
/* ------------------------------------------------------ */

.features {
  padding: 168px 0px 128px;
}
.features__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__column {
  width: 255px;
  height: 323px;
}

.features__column img {
  background-color: #f16718;
  border-radius: 16px;
  margin-bottom: 48px;
}

.column-fi img {
  padding: 22.45px 19.86px 22.31px 20px;
}
.column-se img {
  padding: 19px 23.6px 18.1px 23.7px;
}
.column-th img {
  padding: 23.33px 17px 21.67px 16px;
}
.column-fo img {
  padding: 16px 17px 17px 16px;
}

.footer {
  margin-bottom: 39px;
}

.footer_inner {
  display: flex;
  justify-content: center;
}
.footer-text span {
  font-weight: 700;
}
/* ---------------------------- */
@media (max-width: 1400px) {
  .right__img {
    display: none;
  }
  .info__img {
    display: none;
  }
}
@media (max-width: 1150px) {
  .wrapper {
    max-width: 1110px;
  }
  .container {
    max-width: 855px;
  }
  .order_bg img {
    width: 415px;
    height: 370px;
  }
  .order__inner-content {
    padding-right: 35px;
  }
  .info__bg-orange,
  .info__bg-img {
    width: 195px;
    height: 370px;
  }
  .info__bg-white {
    width: 345px;
    height: 370px;
  }
  .info__text {
    padding-top: 56px;
  }
  .features {
    padding-top: 100px;
  }
  .column-fo {
    /* width: 100%; */
  }
  .features__inner {
    justify-content: space-evenly;
  }
  .features__column {
    margin-bottom: 72px;
  }
}
@media (max-width: 900px) {
  .wrapper {
    max-width: 855px;
  }
  .container {
    max-width: 725px;
  }
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .order {
    position: relative;
    overflow: hidden;
  }
  .order_bg img {
    position: relative;
    right: 0;
    border-radius: 20px 0px 0px 20px;
  }
  .order__inner-content {
    padding-top: 30px;
    padding-right: 0;
  }
  .order__inner-content p {
    width: 340px;
    font-size: 16px;
    line-height: 26px;
  }
  .info__inner {
    flex-wrap: wrap;
  }
  .info__bg-white {
    background-image: url(../images/tablet/image-glass-and-keyboard.jpg);
    width: 445px;
    height: 320px;
  }
  .info__bg-img,
  .info__bg-orange {
    height: 320px;
    background-size: cover;
  }
  .info__photo-inner {
    width: 725px;
    justify-content: space-between;
    height: 320px;
  }
  .info__text {
    display: flex;
    width: 725px;
  }
  .info__text h2 {
    margin-right: 92px;
    margin-bottom: 0;
  }
  .features {
    padding-top: 142px;
  }
}
@media (max-width: 750px) {
  .wrapper {
    max-width: 725px;
  }
  .container {
    max-width: 640px;
  }
  .info {
    overflow: hidden;
  }
  .info__photo-inner,
  .info__text {
    max-width: 640px;
  }
  .order {
    /* overflow: hidden; */
  }
  .info__bg-white {
    width: 420px;
    height: 300px;
  }
  .info__bg-img,
  .info__bg-orange {
    height: 300px;
  }
}
/* 640 в медиа было, но появлялся скрол */
@media (max-width: 640px) {
  .wrapper {
    max-width: 600px;
    /* background-color: #576174; */
  }
  .container {
    max-width: 540px;
    /* background-color: rgb(163, 213, 202); */
  }
  .header {
    padding: 30px 0 70px;
  }
  .order__inner {
    display: block;
  }
  .order__inner-content {
    padding-top: 0;
    margin-bottom: 64px;
  }
  .order_bg {
    height: 345px;
  }
  .order_bg img {
    position: absolute; /* relative не работает */
    right: 0;
    height: 345px;
    border-radius: 19px 0 0 19px;
  }

  .info__photo-inner {
    height: 275px;
    max-width: 540px;
  }
  .info__bg-img,
  .info__bg-orange {
    height: 275px;
    background-size: cover;
  }
  .info__bg-white {
    /* width: 385px; */
    height: 275px;
    background-size: cover;
  }
  .info__text h2 {
    margin-right: 56px;
  }
  .features {
    padding-top: 111px;
  }
  .features__column {
    width: 235px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    max-width: 440px;
  }
  .container {
    max-width: 327px;
  }
  .header {
    padding: 23px 0 64px;
  }
  .btn,
  .order__btns span {
    width: 150px;
    height: 48px;
  }
  .order__inner {
    flex-direction: column;
  }
  .order__inner-content {
    padding-top: 0;
    width: 327px;
    margin-bottom: 64px;
  }
  h1 {
    margin-bottom: 32px;
  }
  .order__inner-content p {
    margin-bottom: 32px;
  }
  .order_btn {
    margin-right: 20px;
  }
  .order_bg {
    max-height: 331px;
  }
  .order_bg img {
    width: 372px;
    height: 331px;
    border-radius: 19px 0 0 19px;
  }
  .info {
    padding-top: 24px;
  }
  .info__photo-inner {
    position: relative;
    height: 193px;
    width: 327px;
  }
  .info__bg-img {
    width: 129px;
    height: 193px;
    position: relative;
    left: -24px;
    border-radius: 0 20px 20px 0;
  }
  .info__bg-orange {
    width: 129px;
    height: 193px;
    background-image: url(../images/mobile/image-phone-and-keyboard.jpg);
  }
  .info__bg-white {
    width: 220px;
    height: 193px;
    background-image: url(../images/mobile/image-glass-and-keyboard.jpg);
    margin-left: -24px;
  }
  .info__text {
    /* width: 100%; */
    padding-top: 75px;
    flex-direction: column;
  }
  .info__text h2 {
    margin-right: 0;
    margin-bottom: 24px;
    text-align: center;
  }
  h2 {
    text-align: center;
    width: 100%;
  }
  .info__text p,
  .features__column p {
    text-align: center;
  }

  /* ----------------------- */
  .features {
    padding: 111px 0px 32px;
  }
  .features__column {
    width: 327px;
    height: 297px;
    margin-bottom: 64px;
  }
  .features__column img {
    display: block;
    margin: auto;
    margin-bottom: 48px;
  }
  /* ------------------------- */

  .footer {
    margin-bottom: 50px;
  }
  .footer-text span {
    font-weight: 700;
  }
}
